
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

login{
    position: relative;
    width: 100%; /* largura */
    min-height: 100vh; /* altura mínima (pega a tela inteira) */
    padding: 100px; /* espaçamento interno */
    background: #AA70FF;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.login-box{
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 800px;
    background-color: #FEF7FF;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 50px 100px;
    transition: transform 0.2s;
}

h1{
    font-size: 30px;
    font-weight: bold;
    color: #553880;
}

h3{
    font-size: 20px;
    font-weight: 350;
}

label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    padding: 5px;
    color: #000000;
    font-weight: 1500;
    font-size: 20px;
}

input{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

button{
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: #FEF7FF;
    cursor: pointer;
    background-color: #774EB3;
    width: 100%;
    font-size: 16px;
}

.entrar{
    display: flex;
    justify-content: center;
    align-items: center;
}